
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  @import "tailwindcss";

  :root {
    --color-brown: #53423e;
    --color-lightBrown: #645550;
    --color-darkBrown: #2c2523;
    --color-black: #1e1917;
    --color-white: #f1e1d9;
    --color-cyan: #15d1e9;
    --color-lightCyan: #88e5f0;
    --color-darkCyan: #009fb3;
    --color-orange: #fb9718;
    --color-lightOrange: #fac27b;
    --color-darkOrange: #d28422;
    --color-grey: #626965;
    --color-lightGrey: #978580;
    --color-darkGrey: #3f4441;
    --font-body: "Josefin Sans", "sans-serif"; 
    --font-special: "Nunito", "sans-serif"; 
  }
  body {
    background-color: var(--color-darkBrown);
  }
  html {
  scroll-behavior: smooth;
}